.headers {
    padding: 10px 16px; 
    background: rgb(239, 239, 130);
    color: #ffd9fe;
    position: fixed;
    width: 100%;
    height: 100px;
}

.content { padding: 16px;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

nav {display: block; 
    float: right;
    }

body {background-color: #ffd9fe; font-size: medium;
 margin: 0px; font-family: Arial, Helvetica, sans-serif;}





.landingbio { color: black;
font-size: medium;
border: 6px dotted gray;
width: 1150px; 
}

.links {list-style-type: none;
float:right;
}

 li {display: inline-block; 
 }

 #stay { font-size: medium;}

 footer { background-color: aliceblue;
    width: 1450px; height: 300px;
    

 }

#PersonalInfo {background-color: beige;
    font-family: 'Courier New', Courier, monospace;

}

#PersonalInfo th { background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    width: 400px; height: 50px;
    
}

#PersonalInfo tr {background-color: beige;
font-family: 'Courier New', Courier, monospace;
text-align: center;}


/* Form styles*/

#YourMessage {
    width: 500px; height: 250px;}

#YourEmail { width: 300px; height: 25px;}

#YourName { width: 300px; height: 25px;
}

#YourSurname {width: 300px; height: 25px;}


#Contact { 
color:firebrick; font-size: xx-large;
text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow; 
letter-spacing: 5px; }

#About { text-decoration-line: underline;
color: black; font-size: xx-large; 
text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow; 
letter-spacing: 5px;
text-decoration: none;}

li a {
    display:contents;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;}



.Educational { 
     font-size: medium;
}



.Work { font-size: medium;

}

.eduwork::after { 
    content: none;
    display: table;
    clear: both;
}

.socials { float: right;

}



video {  padding: 5%;
margin: 3%;}
 

/* headings styles*/

h1 {color: black;
    text-decoration: overline; 
    font-size: xx-large; 
    letter-spacing: 50px; 
}

h3:hover { font-size: xx-large;
background-color: blueviolet;
transition: 7s; 
width: 100%;
 
}

h2 {font-size: xx-large; 
    background-color: blueviolet; 
    text-decoration: overline underline;}

span { color: blue;
display: inline-block;
width: 500px;}

#headid { font-size: larger; 
    text-decoration: none; 
    letter-spacing: normal;
text-align: center;}

#homepic {
    float: right; border-radius: 50%;
}