header {background-color: yellow;
font-family: 'Courier New', Courier, monospace; margin: -8px; height: 105px;}

nav {display: block; text-decoration: none; float: right;}

body {background-color: #f3a4f1; font-size: larger;}


h1 {color: black;
text-decoration: overline; font-size: 45px;}


.landingbio { color: black;
font-size: large;
border: 6px dotted gray;
width: 1150px; 
}

.links {list-style-type: none;
float:right;
}

 li {display: inline-block; 
 }

 #stay { font-size: medium;}
 
 

  
 





#PersonalInfo {background-color: beige;
    font-family: 'Courier New', Courier, monospace;

}

#PersonalInfo th { background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    width: 400px; height: 50px;
    
}

#PersonalInfo tr {background-color: beige;
font-family: 'Courier New', Courier, monospace;
text-align: center;}




#YourMessage {
    width: 500px; height: 250px;}

#YourEmail { width: 300px; height: 25px;}

#YourName { width: 300px; height: 25px;
}

#YourSurname {width: 300px; height: 25px;}


#Contact { font-family: 'Courier New', Courier, monospace;
color:firebrick; font-size: xx-large;text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow; letter-spacing: 5px; }

#About {font-family: 'Courier New', Courier, monospace;
color: firebrick; font-size: xx-large; text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow; letter-spacing: 5px;
 text-decoration: none;}

li a {
    display:contents;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;}



.Educational { 
    
    width: 800px;
    padding: 10px;

}



.Work {


width: 800px;
padding: 10px;
}

.eduwork::after { 
    content: none;
    display: table;
    clear: both;
}
 



h4:hover { font-size: xx-large;
background-color: blueviolet;
transition-timing-function: ease;
transition: 15s;


}



h2 {font-size: xx-large; background-color: blueviolet;}

span { color: blue;}